<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Sauce Demo Test Suite" verbose="1">
    <listeners>
        <listener class-name="com.saucedemo.listeners.ExtentReportsManager"/>
    </listeners>

    <listeners>
        <listener class-name="com.saucedemo.listeners.MyListener"/>
    </listeners>

    <test name="Login Tests">
        <classes>
            <class name="com.saucedemo.testcases.LoginTest" />
        </classes>
    </test>

    <test name="Inventory Tests">
        <classes>
            <class name="com.saucedemo.testcases.InventoryTest" />
        </classes>
    </test>

</suite>
